<style>
  main{
    background-color: rgb(108, 173, 175);
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    box-sizing: inherit;
    position: relative;
}
  .content{
    justify-content: space-around;
    width: 100%;
    max-width: 80rem;
    margin-bottom: 3rem;
}
.content h1{
    margin-top: 1.75rem;
}
.content p {
    margin-top: 1.5rem;
    background-color: rgb(5, 71, 49);
}
</style>
<main class="main">
  <div class="content">
    <router-outlet></router-outlet>
    <app-login></app-login>
  </div>
</main>